body{
	font-family: 'Titillium Web', sans-serif;
	/*background-color: #c0c8cb;*/
	background-color: #ffffff;
	font-weight: 400;
}
h1,h2,h3,h4,h5,p,ul,li,td,tr,strong{
	font-family: 'Titillium Web', sans-serif;
}
h1,h2,h3,h4,h5,strong{
	font-weight: 700;
}
a {
	color: #70d539;
}
a:hover, a:focus {
	color: rgba(112,213,57,0.65);
}
.site-title{
	color: #206d88;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
}

.menu > li > a {
	transition: all .25s ease-in-out;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    display: block;
    padding: 0.7rem 0;
    line-height: 1;
    margin: 0 1rem;
    font-family: 'Titillium Web', sans-serif;
}
.menu > li > a:after{
	transition: all .25s ease-in-out;
	position: absolute;
	content: '';
	height: 1px;
	bottom: 0;
	left: 0;
	display: block;
	width: 0%;
	background-color: #206d88;
}
.menu.menu-panel > li > a:after{
	top: 100%;
}
.menu-panel{
	padding-top: 5px;
	padding-bottom: 5px;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #2199e8 transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    left: -15px;
    margin-top: -2px;
    background-color: transparent;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 0;
    position: relative;
}
.menu > li > a:hover{
	color: #206d88;	
}
.menu > li > a:hover:after{
	width: 100%;
}
.menu-icon.dark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin-right: 10px;
}
.submenu{
	background-color: rgba(0,0,0,0.5) !important;	
	border: none;
}
.logo{
	height: 36px;
}
.is-stuck .logo{
	height: 32px;
}
.header {
  background-color: #000;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  padding: 5px;
  text-align: center;
  overflow: hidden;
}
.header.closed{
	height: 0px !important;
	padding: 0px !important;
}
.header a{
	color: #206d88;
	text-decoration: underline;
	transition: all .25s ease-in-out;
}
.header a:hover{
	text-decoration: none;
}
.gallery .columns{
	text-align: center;
}
[data-sticky] {
	width: 100%;
}
.top-bar {
	padding: 2rem;
	background-color: rgba(0,0,0,0.2);
}
.top-bar-title {
    float: left;
    margin-right: 2.5rem;
}
.top-bar ul {
	background-color: transparent;
}
.is-stuck .top-bar {
	padding: 1rem;
	background-color: rgba(0,0,0,0.2);
	transition: padding .25s ease; 
}
.row.content{
	background-color: white;
}
.row.content.main{
	border-radius: 3px 3px 0 0;
	border-top: solid 1px #e2e2e2;
	border-left: solid 1px #e2e2e2;
	border-right: solid 1px #e2e2e2;
}
.row.content.mid{
	border-left: solid 1px #e2e2e2;
	border-right: solid 1px #e2e2e2;
}
.content.main .columns{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#hero{
	background: url(../img/1920x1080-space-red-nebulae.jpg) bottom right no-repeat #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: solid 5px #206d88;
	margin-top: -70px;
}	
.hero{
	padding: 50px 0;
	min-height: auto;
	color: #ffffff;
	padding-top: 150px;
}

.center-block-img{
	margin: 40px auto;
	display: block;
}
.headline{
		
}
.tiny{
	width: 60px;
}
.row.last{
	margin-bottom: 50px;
}
.row#footer{
	background-color: #206d88;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	border-radius: 0 0 3px 3px;
}
.row#footer p{
	margin: 0;
	padding: 0;
}
.row#footer a{
	color: white;
	text-decoration: none;
	margin-left: 10px;
}
.row#footer a.has-tip {
	border-bottom: none;
}
.row#footer i{
	font-size: 28px;
}
.row#sub-footer{
	background-color: #000;
	margin-bottom: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #206d88;
}
.accordion-title {
    display: block;
    padding: 1.25rem 1rem;
    line-height: 1;
    font-size: 1rem;
    color: #206d88;
    position: relative;
    border: none;
    border-bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
.accordion {
    list-style-type: none;
    background: #fff;
    margin-left: 0;
    margin-bottom: 50px;
}
:last-child:not(.is-active) > .accordion-title {
    border-radius: 0 0 0 0;
    border-bottom: none;
}
.accordion-title:hover, .accordion-title:focus {
    background-color: #fff;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	
}
/* Medium and up */
@media screen and (min-width: 40em) {
	.hero {
		/*min-height: 35vh;*/
	}
	.top-bar {
		/*border-bottom: solid 1px #009eff;*/
	}
	.row.content.main{
		margin-top: 50px;
	}
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
}
/* Large and up */
@media screen and (min-width: 64em) {
	.hero {
		/*min-height: 60vh;*/
	}
}
img.spin-it {
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}
img.spin-it:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*
#ffca07
#ea2127
#00a44f
*/
.barchart { 
  background-color: #a3dbe3;
  height: 1em;
  padding: 0em;
  margin: 0.625em 0; 
  width: 100%; }

.barchart .meter {
  background: #2daebf;
  height: 100%;
  display: block; }

table.chart { 
  width: 100%;
  border-width: 0;
  margin: 40px 0; }

table tr.even, table tr.alt, table tr:nth-of-type(even) { 
	background: #FFF; }

td.chart {
  font-size: 14px;
  margin-bottom: 50px;
  padding: 0 0 20px 0; }

p.percentage {
  font-size: 30px !important; 
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;}